*,
*::after,
*::before {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}


body {
	/*	font-family: 'Roboto Slab', serif;*/

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	color: #232222;
}

.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

.header__top {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.logo {
	margin-left: 16px;
}

.phone {
	margin-right: 43px;
	margin-top: 11px;
}

.menu {
	margin-top: 16px;
}

.menu__list {
	display: flex;
}

.menu__item + .menu__item {
	margin-left: 30px;
}

.menu__link {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	line-height: 117%;
	color: #001E64;
}

.menu__link:hover {
	border-bottom: 2px solid #001E64;
}

.header__content {
	background-image: url(../images/header/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	padding-bottom: 67px;
	margin-top: -100px;
	min-height: calc(100vh - 50px);
}

.title {
	color: #001E64;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 72px;
	line-height: 132%;
	max-width: 589px;
	padding-top: 140px;
	padding-left: 112px;
	margin-bottom: 120px;
}

.header-slider {
	max-width: 522px;
	padding-left: 112px;
	padding-top: 57px;
	padding-bottom: 135px;
}

.header-slider__text {
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 122%;
	color: #fff;
}

.slick-prev,
.slick-next {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	position: absolute;
	left: 43px;
}

.slick-prev {
	top: 0;
}

.slick-next {
	bottom: 0;
}

.slick-dots {
	list-style: none;
	position: absolute;
	left: 35px;
	top: 58px;
	bottom: 55px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.slick-dots button {
	background-color: transparent;
	border: none;
	padding: 0;
	color: #fff;
	font-size: 24px;
	line-height: 117%;
	opacity: .5;
	text-align: center;
}

.slick-active button {
	opacity: 1;
	font-size: 32px;
}

.slick-dots button {
	cursor: pointer;
	transition: all 0.3s linear;
}

.slick-dots button:hover {
	opacity: 1;
}

.slick-dots button::before {
	content: '0';
}

.slick-dots li:nth-child(n + 10) button::before {
	content: '';
}

.header__content-btn {
	position: absolute;
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 132%;
	color: #fff;
	padding: 14px 88px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	margin-left: 112px;
	transform: translateY(-100px);
	transition: all 0.3s linear;
}

.header__content-btn:hover {
	background-color: #fff;
	color: #000;
}

.header__content-box {
	display: flex;
	justify-content: flex-end;
	margin-right: 30px;
	font-size: 18px;
	line-height: 117%;
	color: #fff;
}

.header__content-link--active {
	font-weight: 700;
}

.product {
	padding-top: 100px;
	padding-bottom: 100px;
}

.product__inner {
	display: flex;
	justify-content: space-between;
}

.product__name {
	width: 510px;
	text-align: center;
	padding-top: 41px;
}

.product__name-item {
	cursor: pointer;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 133%;
}

.product__name-item + .product__name-item {
	margin-top: 30px;
}

.product__name-item.slick-current {
	font-weight: 700;
	font-size: 36px;
	/*	line-height: 131%;*/
	color: #001E64;
}

.product-next {
	/*	margin-top: 30px;*/
}

.product-prev {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	/*	margin-bottom: 30px;*/
}

.product-prev,
.product-next {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

.product__content {
	width: 600px;
}

.product__content-list {
	margin-left: 20px;
}

.product__content-element {
	/*	overflow-y: scroll;*/
	/*	padding-bottom: 80px;*/
	/*	padding-top: -60px;*/
}

.product__content-box {
	display: flex;
	justify-content: space-between;
}

.product__content-img {
	object-fit: contain;
}

.product__content-list {
	width: 291px;
	list-style: none;
}

.product__content-item {
	margin-bottom: 30px;
}

.product__content-item span {
	font-family: 'Roboto Slab', serif;
	display: block;
	margin-bottom: 10px;
	color: #001E64;
	font-size: 18px;
	line-height: 24px;
}

.product__content-title {
	padding-top: 20px;
	margin-bottom: 20px;
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	line-height: 133%;
	color: #001E64;
	margin-bottom: 20px;
}

.product__content-btn {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	padding: 12px 85px;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	color: #001E64;
	border: 1px solid #001E64;
	border-radius: 20px;
	cursor: pointer;
	margin-bottom: 30px;
	margin-top: 30px;
	transition: all 0.3s linear;
}

.product__content-btn:hover {
	background-color: #001E64;
	color: #fff;
}

.seafood-box {
	background-image: url(../images/main/seafood-box/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	padding: 290px 0 95px;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 133%;
	color: #fff;
}

.seafood-box__items {
	display: flex;
	justify-content: space-evenly;
}

.seafood-box__item {
	width: 180px;
	min-height: 165px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url(../images/main/seafood-box/01.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.seafood {
	padding: 100px 0;
}

.seafood__items {
	margin-bottom: 100px;
}

.seafood__item {
	display: flex;
	justify-content: space-between;
}

.seafood__item-content {}

.seafood__item-title {}

.seafood__item-text {}

.seafood__item-img {}

.seafood__blockquote {}

.seafood__blockquote-img {}

.seafood__blockquote-text {}
